---
layout: default
---
{% include calc_root.html %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <div
      class="gallery"
      data-drive-link="{{ page.drive_link }}">
    </div>
  </article>

</div>

{% if site.debug %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
{% endif %}

<!-- Photoswipe setup -->
  <!-- Core CSS file -->
  <link rel="stylesheet" href="{{ root }}/vendor/photoswipe/photoswipe.css"> 

  <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
       In the folder of skin CSS file there are also:
       - .png and .svg icons sprite, 
       - preloader.gif (for browsers that do not support CSS animations) -->
  <link rel="stylesheet" href="{{ root }}/vendor/photoswipe/default-skin/default-skin.css"> 

  <!-- Core JS file -->
  {% if site.debug %}
  <script src="{{ root }}/vendor/photoswipe/photoswipe.js"></script>
  {% else %}
  <script src="{{ root }}/vendor/photoswipe/photoswipe.min.js"></script>
  {% endif %}

  <!-- UI JS file -->
  {% if site.debug %}
  <script src="{{ root }}/vendor/photoswipe/photoswipe-ui-default.js"></script>
  {% else %}
  <script src="{{ root }}/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
  {% endif %}
<!-- End Photoswipe setup -->

<script src="{{ root }}/scripts/gallery.js"></script>

{% include photoswipe_dialog.html %}